@charset "utf-8";
/* CSS Document */

#sec-hero{
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	background-image: url( ../img/bg-1.jpg);
	color:#FFFFFF;
	
	
		
}





h2{
	text-align: center;
	font-weight: 200;
	
		
}

h4{
	text-align: center;
	font-weight: 200;
	
	
}


h1{
	text-align: center;
	font-weight: 200;
	
}

p{
	text-align: center
}

